<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cadu.rededossaberes">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/whiteBackground">
        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/parse_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />

        <activity android:name=".activity.TelaInicial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.VerProjetos" />
        <activity android:name=".activity.CriarProjetos" />
        <activity android:name=".activity.Cadastro" />
        <activity android:name=".expandableListViewElements.Step" />
        android:name=".App"
        <activity android:name=".activity.Login" />
        <activity android:name=".expandableListViewElements.GroupStep" />
        <activity android:name=".expandableListViewElements.LastChild" />
        <activity android:name=".expandableListViewElements.header" />
        <activity android:name=".fragment.InputTextFragment" />
        <activity android:name=".utils.Post" />
        <activity android:name=".activity.VisualizarPost" />
        <activity android:name=".expandableListViewElements.ListaParents" />
        <activity android:name=".expandableListViewElements.ListaChilds"></activity>
    </application>

</manifest>